<app-mensaje-sd></app-mensaje-sd>
<div class="row justify-content-center">
  <div class="col-6 shadow-lg p-5 bg-white rounded my-5 fondo-blanco all-rounded">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-start">
        <div class="col-1" style="text-align: center">
          <button type="button" class="btn btn-warning shadow rounded mr-3" routerLink="/sesion" (click)="msgService.limpiar()"><-</button>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-6" style="text-align: center">
          <h3>Registro</h3>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-6">
          <label>Usuario: </label>
          <input type="text" name="username" [(ngModel)]="registro.username" placeholder="usuario">
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-6">
          <label>Nombre: </label>
          <input type="text" name="username" [(ngModel)]="registro.first_name" placeholder="Nombre">
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-6">
          <label>Apellido: </label>
          <input type="text" name="username" [(ngModel)]="registro.last_name" placeholder="Apellido">
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-6">
          <label>Correo: </label>
          <input type="text" name="username" [(ngModel)]="registro.email" placeholder="Correo">
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-6">
          <label>Password: </label>
          <input type="password" name="password" [(ngModel)]="registro.password" placeholder="contraseña">
        </div>
      </div>
        <div class="row justify-content-center mb-3">
          <div class="col-6">
            <label>Puesto de trabajo: </label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [(ngModel)]="registro.posicion" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Comprador
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="registro.posicion" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Administrador de Tienda
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" [(ngModel)]="registro.posicion" value="option3">
              <label class="form-check-label" for="exampleRadios3">
                Administrador de Almacen
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" [(ngModel)]="registro.posicion" value="option4">
              <label class="form-check-label" for="exampleRadios4">
                Gerente de venta
              </label>
            </div>
  				</div>
        </div>
      <div class="row justify-content-center mb-3">
        <div class="col-3">
          <button type="submit" class="btn btn-warning shadow p-3 rounded">Registrarse</button>
        </div>
      </div>
    </form>
</div>